<html>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" type="text/css" href="style.css">

    <div id="app">
        <!-- A simple loop example -->
        <h1>A Simple loop from 1 to 10</h1>
        <ul>
            <li v-for="n in 10">{{ n }}</li>
        </ul>
        <h1>7 BOOM</h1>
        <ul>
            <li v-for="b in boom">{{b}}</li>
        </ul>
        <h1>A Loop in array of objects from Vue element</h1>
        <table>
            <tr>
                <th>Name</th>
                <th>Gender</th>
                <th>Email</th>
            </tr>
            <tr v-for="person in people">
                <td>{{`${person.first_name} ${person.last_name}`}}</td>
                <td>{{person.gender}}</td>
                <td>{{person.email}}</td>
            </tr>
        </table>
    </div>
    <script src="./script.js"></script>
</html>